In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Dataset/Housing.csv')

In [3]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
x=df.iloc[:,[1,2,3,4]]
y=df.iloc[:,0]

In [5]:
x

     area  bedrooms  bathrooms  stories
0    7420         4          2        3
1    8960         4          4        4
2    9960         3          2        2
3    7500         4          2        2
4    7420         4          1        2
..    ...       ...        ...      ...
540  3000         2          1        1
541  2400         3          1        1
542  3620         2          1        1
543  2910         3          1        1
544  3850         3          1        2

[545 rows x 4 columns]

In [6]:
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler
scaler1=StandardScaler()
x_standardize=scaler1.fit_transform(x)

In [8]:
x_standardize

array([[ 1.04672629,  1.40341936,  1.42181174,  1.37821692],
       [ 1.75700953,  1.40341936,  5.40580863,  2.53202371],
       [ 2.21823241,  0.04727831,  1.42181174,  0.22441013],
       ...,
       [-0.70592066, -1.30886273, -0.57018671, -0.92939666],
       [-1.03338891,  0.04727831, -0.57018671, -0.92939666],
       [-0.5998394 ,  0.04727831, -0.57018671,  0.22441013]])

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler2=MinMaxScaler()
x_standarize1=scaler2.fit_transform(x)

In [10]:
x_standarize1

array([[0.39656357, 0.6       , 0.33333333, 0.66666667],
       [0.5024055 , 0.6       , 1.        , 1.        ],
       [0.57113402, 0.4       , 0.33333333, 0.33333333],
       ...,
       [0.13539519, 0.2       , 0.        , 0.        ],
       [0.08659794, 0.4       , 0.        , 0.        ],
       [0.15120275, 0.4       , 0.        , 0.33333333]])